@import '../../mixins.scss';
@import '../../variables.scss';
$input-active-color: rgba(255, 255, 255, 0.6);
.login__body {
    border-top: $border-top;
    margin-top: 1px;
    padding-top: 32px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.input-container {
    display: grid;
    margin-bottom: 22px;
    justify-content: center;
    color: $font-color;
}

.input-container>label {
    margin-bottom: 5px;
}

.login-input {
    padding-left: 10px;
    outline: none;
    border: none;
    color: $font-color;
    font-size: 1.2em;
    width: 250px;
    height: 60px;
    border-radius: $border-radius;
    border-top: $border-top;
    background-color: rgba(255, 255, 255, 0.1);
}

.login-input:focus {
    @include hoverTransition();
    background-color: $input-active-color
}

.login-input:hover {
    @include hoverTransition();
    background-color: $input-active-color
}

.or-text {
    display: flex;
    flex-direction: row;
    color: $font-color;
    font-size: 0.9em;
    margin-left: 28px;
    margin-right: 28px;
}

.or-text:before,
.or-text:after {
    content: "";
    flex: 0.5 0.5;
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.4);
    margin: auto;
}