@import '../../mixins.scss';
@import '../../variables.scss';
.login-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba($color: #ffffff, $alpha: 0.4);
    ;
    height: 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 20px;
    margin-bottom: -3px;
    margin-left: -1px;
    margin-right: -1px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.social-icon {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    box-shadow: 0.5px 0.866px 0px rgba(156, 132, 168, 0.4);
    border: 2px solid #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-icon:hover {
    background-color: white;
}

svg {
    color: white;
    width: 20px;
    height: 20px;
}

.facebook:hover>svg {
    color: #3b579d;
}

.twitter:hover>svg {
    color: #00a9f1;
}

.google:hover>svg {
    color: #dd3f21;
}