@import '../variables.scss';
@import './login/login-card.scss';
@import './download/download-card.scss';
.card {
    width: $card-width;
    background-color: rgba($color: $background-color, $alpha: 0.1);
    border: 1px solid $border-color;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
}

