@import '../variables.scss';
@import './login/login-card.scss';
.card {
    width: $card-width;
    background-color: rgba($color: $background-color, $alpha: 0.2);
    border: 1px solid $border-color;
    border-radius: $border-radius;
}

