doctype html
html
    head
    style
        include ../dist/index.css
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title gulp
    body
        .card
            .card-header__login LOGIN
            .login__body
                .input-container 
                    label(for="email") Email
                    input(id="email" type="email" class="login-input")
                .input-container 
                    label(for="password") Password
                    input(id="password" type="password" class="login-input")
                .or-text   Or  
                .login-footer
                    .social-icon.twitter
                        include assets/img/twitter-brands.svg
                    .social-icon.google
                        include assets/img/google-plus-g-brands.svg
                    .social-icon.facebook
                        include assets/img/facebook-f-brands.svg
        .card
            .card-header__download DOWNLOAD
            .body__download
                .main-circle
                    .cloud-circle
                        include assets/img/from-cloud.svg
                .text-container
                    .percents 52%
                    .state Complete...