$font-stack: Helvetica,
sans-serif;
$primary-color: #000000;
$background-color: #ffffff;
$border-color: rgba($color: $background-color, $alpha: 0.1);
$border-radius: 10px;
$border-top: 1px solid rgba($color: $background-color, $alpha: 0.3);
$grid-columns: 470px;
body {
    font: 100% $font-stack;
    color: $primary-color;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 0.8fr));
    grid-template-rows: 50% 50%;
    grid-gap: 15px 15px;
    background: linear-gradient(45deg, #45d14c, #696eaa) no-repeat;
}

.card {
    width: 300px;
    height: 100%;
    background-color: rgba($color: $background-color, $alpha: 0.4);
    border: 1px solid $border-color;
    border-radius: $border-radius;
}

@mixin headerColor($color) {
    background: $color;
}

.card__header {
    color: $background-color;
    font-size: 16Pt;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    @include headerColor(#696EAA);
    border-top: $border-top;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    height: 60px;
    line-height: 55px;
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
    box-shadow: 0.5px 0.866px 0px rgba(35, 47, 124, 0.54);
}

.card__auth {
    border-top: $border-top;
    margin-top: 1px;
    height: 400px;
}

input {
    border-radius: $border-radius;
    background-color: rgba($color: $background-color, $alpha: 0.4);
    border-top: $border-top;
    border: none;
    color: black;
    width: 200px;
    height: 50px;
    margin: 30px;
    color: white;
    font-size: 14pt;
    padding: 5px;
}

input[type="email"]::before {
    content: "Email";
    color: white;
    font-size: 18pt;
}

/**
width: 300px;
height: 326px;
background-color: rgba(255,255,255,0.10196078431372549);
border: 1px solid rgba(255,255,255,0.3);
*/