doctype html
html
    head
    style
        include ../dist/index.css
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title gulp
    body
        .card
            .card__header LOGIN
            .card__auth
                .input-container
                    .caption-input Email
                    input(type="email")
                .input-container
                    .caption-input Password
                    input(type="password")
                .or-text   Or  
                .login-footer
                    .social-icon.twitter
                        include assets/img/twitter-brands.svg
                    .social-icon.google
                        include assets/img/google-plus-g-brands.svg
                    .social-icon.facebook
                        include assets/img/facebook-f-brands.svg
                        