doctype html
html
    head
    style
        include ../dist/index.css
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title gulp
    body
        .card
            .login__header LOGIN
            .login__body
                .input-container Email
                    input(type="email" class="login-input")
                .input-container Password
                    input(type="password" class="login-input")
                .or-text   Or  
                .login-footer
                    .social-icon.twitter
                        include assets/img/twitter-brands.svg
                    .social-icon.google
                        include assets/img/google-plus-g-brands.svg
                    .social-icon.facebook
                        include assets/img/facebook-f-brands.svg
        .card
                        