doctype html
html
    head
    style
        include ../dist/index.css
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title gulp
    body
        h1 Хеллоу)