doctype html
html
    head
    style
        include ../dist/index.css
    script.
        var buttonClick = function(){console.log('button click')}
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title gulp
    body
        .card
            .card-header__login LOGIN
            .login__body
                .input-container 
                    label(for="email") Email
                    input(id="email" type="email" class="login-input")
                .input-container 
                    label(for="password") Password
                    input(id="password" type="password" class="login-input")
                .or-text   Or  
                .login-footer
                    .social-icon.twitter
                        include assets/img/twitter-brands.svg
                    .social-icon.google
                        include assets/img/google-plus-g-brands.svg
                    .social-icon.facebook
                        include assets/img/facebook-f-brands.svg
        .card
            .card-header__download DOWNLOAD
            .body__download
                .main-circle
                    .cloud-circle
                        include assets/img/from-cloud.svg
                .text-container
                    .percents 52%
                    .state Complete...
        .card
            .card-header__location LOCATION
            ul
                li.location San Francisco
        .button-container
            button(onclick='buttonClick()') Button
            button.button-primary(onclick='buttonClick()') Button
            button.button-info(onclick='buttonClick()') Button
            button.button-success(onclick='buttonClick()') Button
        .card
            .card-header__profile profile
            .profile-header
                img.background-photo(src=("/img/bg.png"))
                .profile-container 
                    image.profile-photo(src="/img/photo.png")
                    .info-container
                        .profile-name John Doe
                        .profile-location Заводоуковск, Россия
            .profile-body
                .statistic
                    .following 345
                    .line
                    .followers 498
                button follow