@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import './variables.scss';
@import './cards/index.scss';
body {
    font: 100% $font-stack;
    color: $primary-color;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 0.8fr));
    grid-template-rows: 50% 50%;
    grid-gap: 15px 15px;
    min-height: 100%;
    background: linear-gradient(to top right, #170e19, #9f6aa1, #d4a6aa);
}